.flexcontainer:last-child{margin-top: 2em;}
body{margind 0; padding:0;}
div{height:250px; width:250px;}
div:nth-child(1){background-color: red; width: 250px; height: 250px;}
div:nth-child(2){background-color: blue;}
div:nth-child(3){background-color: green;}
div:nth-child(4){background-color: yellow;}
div:nth-child(5){background-color: pink;}
div:nth-child(6){background-color: black;}
div:nth-child(7){background-color: orange;}
div:nth-child(8){background-color: silver ;}
div:nth-child(9){background-color:blueviolet }

.flexContainer{
  display:flex;
  flex-wrap: wrap;
  /*justify-content: space-around;
  align-items: center;
  flex-direction: column;

}

.flexItem{
*/
}
.flexItem{  flex-grow: 1;
}

div:hover{
  opacity: 0.7;
  transform:  skewY(angle)         /* an <angle>, e.g.  skewY(4deg) */
}

