body{
  font-family: 'Andada Pro', serif;

}

header{
  height: 200px;
  width: 940px;
  margin: auto;
}

main{
  width: 940px;
  margin: auto;
}

.navegacao{
  display: inline;
  position: absolute;
  padding: 15px

}

.navegacao1{
  display: inline-block;
  position: relative;
  font-style: italic;
  font-weight: bold;
  color: crimson;
  top: 90px;
  left: 450px;
  padding-left: 15px;
}

.navegacao1:hover {
  color: teal;
}

#banner{
  width: 100%;
}

.sobre {
  background-color: rgb(250, 210, 222);
  padding: 30px;
}

#descricao {
  text-align: center;
  color: brown;
  font-style: italic;
  font-size: 28px;
  margin-bottom: 15px;

}
.marca {
  color:rgb(220, 83, 20);
 }

.produtos{
  display: inline-block;
  width: 940px;
  padding: 20px;
}
.produtos li{
  width: 30px;
}

.produtofoto{
  width: 60%;
}
p, li {
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

em {
  color:rgb(220, 83, 20)
}

.produtos h2{
  font-weight: bold;
  color:brown;
  text-align: center;
}


footer{
  height: 10px;
  width: 100%;
  background: linear-gradient(white, teal) ;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 0.8em;
  padding: 30px;

}

/*CSS produtos*/

.bannercurto {
  width: 940px;
  height: 240px;
  object-fit: cover;
  object-position: 0px 0px;
}

.listaprodutos{
     width: 940px;
    margin: 0 auto;
    padding: 50px 0;
 
}

.listaprodutos li{
  display: inline-block;
  width: 30%;
}

.listaprodutos h2{
  font-weight: bold;
  color:crimson;
  line-height: 1.9;
}


.listaprodutos h2:hover{
  font-weight: bold;
  color:teal;
}

.tiposprodutos{
  width:100%
}